body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.contain{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.main_container{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin: 6% 0 0 36%;
    position: relative;
    width: 30%;
}

.image{
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: 0.8s ease-in-out;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: linear-gradient(rgba(10,10,10,0.4),rgba(10,10,10,0.1)); */
    background-image: linear-gradient(to bottom, rgba(50,50,50,0.2), rgba(10,10,10,0.5));
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .8s ease;
}

.main_container:hover .overlay{
    height: 25%;
}

.main_container:hover .image{
    transform: scale(1.1, 1.1);
    transition: 1s ease-in-out;
}

h3{
    width: 100%;
    margin-top: 2%;
    margin-left: 3%;
    color: white;
    font-size: 3vh;
    position: absolute;
    font-family: aileron;
    /* transform: rotate(-5deg)skewX(-5deg); */
}

p{
    /* font-family: 'roboto', sans-serif; */
    font-family: aileron;
    color: white;
    font-size: 1.8vh;
    margin-top: 9.5%;
    margin-left: 3%;
}

/* Mobile view */


@media(max-width:700px) {
    .contain{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
    
    .main_container{
        flex-direction: column;
        flex-basis: 32%;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        margin: 2%;
        position: relative;
        width: 80%;
    }
    
    .image{
        display: flex;
        width: 100%;
        height: auto;
        transform: scale(1, 1);
        transition: 0.8s ease-in-out;
    }
    
    .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        /* background-color: linear-gradient(rgba(10,10,10,0.4),rgba(10,10,10,0.1)); */
        background-image: linear-gradient(to bottom, rgba(50,50,50,0.2), rgba(10,10,10,0.5));
        overflow: hidden;
        width: 100%;
        height: 0%;
        transition: .8s ease;
    }
    
    .main_container:hover .overlay{
        height: 25%;
    }
    
    .main_container:hover .image{
        transform: scale(1.1, 1.1);
        transition: 1s ease-in-out;
    }
    
    h3{
        width: 100%;
        margin-top: 2%;
        margin-left: 3%;
        color: white;
        font-size: 2vh;
        position: absolute;
        font-family: aileron;
        /* transform: rotate(-5deg)skewX(-5deg); */
    }
    
    p{
        /* font-family: 'roboto', sans-serif; */
        font-family: aileron;
        color: white;
        font-size: 1vh;
        margin-top: 9.5%;
        margin-left: 3%;
    }
}
